@model Product

@{
    ViewData["Title"] = "Supprimer un produit";
}

<div class="container-fluid">
    <div tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel">
        <div>
            <div>
                <form method="post">
                    <div>
                        <h5 class="modal-title">Supprimer un produit</h5>
                        <button type="button" class="close text-white">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div>
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" placeholder="Nom de un produit" required disabled>
                        </div>
                    </div>
                    <div>
                        <a type="button" class="btn btn-secondary" asp-controller="Product" asp-action="Index">Annuler</a>
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>