@model City

@{
    ViewData["Title"] = "Modifier la ville";
}

<div class="container-fluid">
    <div tabindex="-1" role="dialog" aria-labelledby="addCityModalLabel">
        <div>
            <div>
                <form method="post">
                    <div>
                        <h5 class="modal-title">Modifier la ville</h5>
                        <button type="button" class="close text-white">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div>
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" placeholder="Nom de la ville" required>
                        </div>
                    </div>
                    <div>
                        <a type="button" class="btn btn-secondary" asp-controller="City" asp-action="Index">Annuler</a>
                        <button type="submit" class="btn btn-info">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>